<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<target>System.out</target>
		<filter class="edu.ucdavis.dss.logging.LogbackStdOutFilter" />
	</appender>

 	<appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<target>System.err</target>
		<filter class="edu.ucdavis.dss.logging.LogbackStdErrFilter" />
	</appender>

	<logger name="com.zaxxer.hikari.HikariDataSource" level="ERROR" />
	<logger name="org.hibernate" level="ERROR" />
	<logger name="org.hibernate.SQL" level="OFF" />
	<logger name="org.jboss.logging" level="OFF" />
	<logger name="EntryPoint" level="ERROR" />
	<logger name="IamLogger" level="INFO" />
	<logger name="org.apache.http" level="OFF" />
	<logger name="com.mysql" level="ERROR" />
	<logger name="IamPersonImportThread" level="ERROR" />

	<root level="ERROR">
		<appender-ref ref="STDERR" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
